# Ignore data files will following extensions in all folders
*.o
*.a
*.csv
*.isfdp
#*.isfc
#*.isf

# Ignore build folder
# build/*.o

# Ignore input folder
# lib/libnew_insilico.a

# Ignore files ending with ~
*.*~
*~